.classname{
    
    position: relative;
    position: absolute;
    position: fixed;
    top: 10px;
    left: 10px;
}
.classname{
    /*kole tag gerefte mishe dar block*/
    /*display: block;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
}
.classname{
    /*noghte haro varmidare*/
    list-style: none;
    /*ezafe kardan matn*/
    content: 'x';
}
